<div class="ui segment authForm">
    <div class="ui form">
        <div class="required field ">
            <label for="password">New Password</label>
            <input id="password" type="password" ng-model="password" class="ui input" autofocus="true"/>
        </div>
        <div class="required field ">
            <label for="confirm"> Confirm New Password</label>
            <input id="confirm" type="password" ng-model="confirm" class="ui input"/>
        </div>
        <div class="ui large submit button"
             ng-click="submitNewPwd()">Submit
        </div>
    </div>
</div>