<div class="ui form" id="parameters" ng-controller="ParametersCtrl">
    <table class="ui very compact celled definition table">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>value</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="parameter in parameters">
            <td class="collapsing">
                        <span class="ui tiny basic icon button">
                            <i class="edit blue icon"></i>
                        </span>
            </td>
            <td>{{parameter.name}}</td>
            <td>{{parameter.value}} {{parameter.unit}}</td>
        </tr>
        </tbody>
    </table>
</div>

