<div class="ui form" id="upstream" ng-controller="UpstreamsCtrl">
    <table class="ui very compact celled definition table">
        <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Priority</th>
            <th>Base Url</th>
            <th>Pure Maven</th>
            <th>Get Only</th>
            <th>Use Proxy</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="upstream in upstreams" >
            <td class="collapsing">
                        <span class="ui tiny basic icon button" ng-click="toggleDisable(upstream)">
                            <i class="teal icon" ng-class="{remove: !upstream.disabled, checkmark: upstream.disabled}"></i>
                        </span>
                        <span class="ui tiny basic icon button">
                            <i class="edit teal icon"></i>
                        </span>
                        <span class="ui tiny basic icon button">
                            <i class="angle up teal icon"></i>
                        </span>
                        <span class="ui tiny basic icon button">
                            <i class="angle down teal icon"></i>
                        </span>
            </td>
            <td ng-class="{disabled: upstream.disabled}">{{upstream.name}}</td>
            <td ng-class="{disabled: upstream.disabled}">{{upstream.priority}}</td>
            <td ng-class="{disabled: upstream.disabled}">{{upstream.base}}</td>
            <td>
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" ng-model="upstream.maven">
                        <label>{{upstream.maven ? 'Yes' : 'No'}}</label>
                    </div>
                </div>
            </td>
            <td>
                <div class="inline field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" ng-model="upstream.getOnly">
                        <label>{{upstream.getOnly ? 'Yes' : 'No'}}</label>
                    </div>
                </div>
            </td>
            <td>
                <select  ng-options="proxy.name for proxy in proxies" ng-model="upstream.proxy"
                        ng-disabled="upstream.disable">
                    <option value="">No Proxy</option>
                </select>
            </td>
        </tr>
        </tbody>
        <tfoot class="full-width">
        <th colspan="7">
            <a class="ui right floated labeled icon teal button">
                <i class="plus icon"></i> Add Repo
            </a>
        </th>
        </tfoot>
    </table>
</div>

<div class="ui modal" id="addRepoDialog">
    some fake content
</div>
