<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %highlight(%-5level) %logger{36} %X{akkaSource} %n %blue(%msg) %n %n</pattern>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} %X{akkaSource} %n%msg%n%n</pattern>-->
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${user.home}/.repox/repox.log</file>
        <append>true</append>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{MM-dd HH:mm:ss.SSS} %-5level %logger{36} %X{akkaSource} %n %msg %n %n</pattern>
        </encoder>
    </appender>
    <logger name="com.gtan.repox" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>